*{
    box-sizing: border-box;
}

body
{
    font-family: 'Russo One', sans-serif;
    background-image: url("../img/background.jpg");
    background-position: fixed;
    background-repeat: repeat;
    text-align: center;
    background-color: black;
    position: relative;
    bottom: 35px;
    overflow: hidden;
}
    
li{
    text-transform: uppercase;
    list-style: none; 
    /* font-variant: small-caps; */
}

main{

    display: flex;
    height: auto;
    
}

.vert{
    width: 0.7em;
    font-size: 5em;
    word-wrap: break-word;
    text-align: center;
    letter-spacing: 7px;
    margin: 0;
    padding:0;
    line-height: 75px;
    font-weight: 700;
}

.teams{
    margin: 0px  auto 25px auto;
    background: rgb(29, 28, 28);
    border: solid 5px rgba(85, 42, 42, 0.5);
    height: auto;
    width: 70%;
    text-align: left;
    line-height: 2rem;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    background-clip: padding-box;

}

.eastTeams{

    color: rgb(2, 177, 244);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px 0;
    letter-spacing: 0.1rem;
}

.westTeams{
    color: rgb(250, 230, 47);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 10px 0;
    letter-spacing: 0.1rem;
}

.vert.left{
    color: rgb(246,226, 53);
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    position:relative;
    left: 130px;
}

.vert.right{
    color: rgba(0, 115, 160);
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.5);
    font-family: sans-serif;
    position:relative;
    right: 150px;
}

li:hover{
    background-color:rgba(255, 102, 0, .8);
}

ul.eastTeams li:hover{
    background-color: rgb(231, 252, 138, .8);
}

.hidden{

    display: none;
}

section img{
    /* width: 500px; */
    max-height: 346px;
    position:relative;
    bottom: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    margin: 0;
    padding: 0;
}

header img{
    margin: 0;
    padding: 0;
    height: 200px;
    width: 500px;
}
.audioPlayer{
    /* position: relative; */
    /* top:50px;
    right:10px; */
    /* float:right; */

}

/* audio{
    position: absolute;
    top:50px;
    right:0;
    background-color: transparent;
} */


@media screen and (max-width: 1372px) {
    .vert.left{
        left: 80px;
    }

    .vert.right{
        right: 80px;
    }
    
    .teams ul{
        font-size: 0.7em;
        position: relative; 
        left: -10px;
    }

    
}

@media screen and (max-width: 1074px) {

    
    .teams ul li{
        font-size: 0.8em;
        padding: 0;
        line-height: 25px;
        
    }

    
}

@media screen and (max-width: 768px) {
    .vert.left{
        left: 40px;
        
    }

    .vert.right{
        right: 45px;
    }
    .teams ul li{
        font-size: .6em;
    }

    .teams ul{
        font-size: 1em;
        line-height: 25px;
        position: relative;
        left: -30px;
    }
    

    .vert{
        
        font-size: 3em;
     
    }

    header{
        height: 125px;
 
    }

    header img{
        height: 150px;
        width: 300px;
    }

    section.teamImg img{

        align-items: center;

    }
    .teams{
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    .vert.left{
    display: none;
       
    }

    .teams{
        width: 100%;

    }

    .vert{
        width: 0.7em;
        font-size: 2.5em;
        line-height: 65px;
    }

    .vert.right{
      display: none;
    }

   .westTeams, .eastTeams{
   }

    .teams ul li{
        font-size: 7px;
        line-height: 15px;
    }

    section.teamImg img{
        width: 60%;
        height: 60%;
        align-items: center;
    }
 
  
}